.tree-node {
	white-space: pre;
	display: inline-block;
	text-align: center;
	padding: 0px 8px;
	margin: 0px -8px;
}

.tree-node:hover {
	background: #0001;
}

.tree-node-contents {
	cursor: pointer;
}

.tree-roof {
	cursor: pointer;
	padding: 0.5em;
}

.tree-node span[style*="italic"] + span[style*="bold"] {
	margin-left: 1px;
}
