* {
	box-sizing: border-box;
}

html,
#root {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	margin: 0px;
	height: 100%;
}

h1 {
	margin: 0;
}

.settings .buttons {
	margin-top: 8px;
}

.settings button {
	cursor: pointer;
	padding: 4px 12px;
	margin: 2px;
}

.kuna {
	background-color: hsl(220deg, 90%, 95%);
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	transition:
		background-color 0.1s,
		color 0.1s;
}

.dark-mode.kuna {
	color: #eee;
	background-color: #334;
	color-scheme: dark;
}

.card {
	padding: 8px;
	border: 2px solid hsl(220deg, 50%, 85%);
	border-radius: 4px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dark-mode .card {
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
}

.settings,
.output {
	margin-top: 8px;
}

.settings form {
	min-width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settings textarea {
	font-family: inherit;
}

.settings form > * + * {
	margin-top: 8px;
}

.settings form label {
	display: flex;
	justify-content: center;
}

.output iframe {
	width: 90vw;
	height: 50vh;
	border: none;
	overflow: scroll;
}

.gloss-output {
	max-width: 40em;
	display: flex;
	flex-wrap: wrap;
}

.gloss-item {
	padding: 0px 4px;
}

.gloss-toaq {
	font-weight: bold;
}

.math {
	font-family: 'Noto Sans', 'Noto Sans Math', sans-serif;
}

.error {
	color: #ff0080;
	white-space: pre-wrap;
}

.toggle-dark-mode {
	position: absolute;
	left: 8px;
	top: 8px;
}

.toggles {
	margin-top: 8px;
}

.toggles label select {
	margin-inline-start: 8px;
}
