@import "tailwindcss";

@theme {
	--color-mio: #0a36a6;
	--color-mio-dark: #08287f;
	--color-blue: #2969e8;
	--color-blue-dark: #154ec2;
}

label {
	@apply select-none;
}
textarea,
input,
select {
	@apply bg-white dark:bg-gray-900 border border-current/20 px-2 py-1;
}

* {
	transition: background-color 0.3s;
}
.inspector {
	transition: background-color, width 0.3s;
}
.moving .inspector {
	transition: background-color 0.3s;
}

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@font-face {
	font-family: "Iosevka Toaq Aile";
	font-weight: 400;
	src: url("https://raw.githubusercontent.com/toaq/fonts/refs/heads/main/woff2/IosevkaToaqAile-Regular.woff2")
		format(woff2);
}

@font-face {
	font-family: "Iosevka Toaq Aile";
	font-weight: 700;
	src: url("https://raw.githubusercontent.com/toaq/fonts/refs/heads/main/woff2/IosevkaToaqAile-Bold.woff2")
		format(woff2);
}

@font-face {
	font-family: "Fira Sans";
	font-weight: 400;
	src: url("/FiraSans-Regular.woff2") format(woff2);
}

@font-face {
	font-family: "Fira Sans";
	font-weight: 700;
	src: url("/FiraSans-Bold.woff2") format(woff2);
}

@font-face {
	font-family: "Fira Math";
	font-weight: 400;
	src: url("/FiraMath-Regular.woff2") format(woff2);
}

@font-face {
	font-family: "Fira Math";
	font-weight: 900;
	src: url("/FiraMath-Bold.woff2") format(woff2);
}

* {
	box-sizing: border-box;
}

html,
#root {
	height: 100%;
}

body {
	font-family: "Fira Sans", "Fira Math", sans-serif;
	font-size: 14px;
	margin: 0px;
	height: 100%;
}

.dark-mode {
	color-scheme: dark;
}

/*
h1 {
	margin: 0;
}

.card.settings {
	padding: 12px 24px;
}

.settings .buttons {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 16px;
}

.settings .button-group {
	display: flex;
	align-items: center;
}

.settings .button-group-name {
	text-align: center;
	width: 5em;
	padding: 3px 0px;
}

.settings-stack {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.kuna-button {
	background: light-dark(#dde, #666);
	border: none;
	padding: 8px 14px 8px 12px;
	color: light-dark(black, white);
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;

	flex: 1;
	justify-content: center;
}

.kuna-button:hover {
	background: light-dark(#ccc, #777);
}

.button-group .kuna-button:last-of-type {
	border-radius: 0 4px 4px 0;
}

.button-group .kuna-button:nth-of-type(n + 2) {
	border-left: 1px solid light-dark(#00000040, #ffffff40);
}

.button-group .kuna-button:first-of-type {
	border-radius: 4px 0 0 4px;
}

.kuna main {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

.settings-and-output {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.kuna .explanation {
	max-width: 35em;
}

.kuna .explanation p {
	margin: 0;
	margin-bottom: 1em;
}

.kuna .explanation p:last-child {
	margin-bottom: 0;
}

.kuna .explanation button.dismiss {
	display: block;
	margin-left: auto;
}

textarea,
input,
select,
button {
	font-family: inherit;
}

.dark-mode.kuna {
	color: #eee;
	background-color: #334;
	color-scheme: dark;
	--blue: #6070ff;
}

.card {
	max-width: 100%;
	padding: 8px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	border: 2px solid hsl(220deg, 50%, 85%);
	border-radius: 4px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.card {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		border-left: none;
		border-right: none;
		border-radius: 0px;
	}
}

.dark-mode .card {
	border: 2px solid #111111;
	background-color: #222222;
}

.settings {
	padding: 1em 2em;
}

.settings form {
	min-width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settings form > * + * {
	margin-top: 8px;
}

.settings form label {
	display: flex;
	justify-content: center;
}

.output-logical-form-text,
.output-logical-form-latex {
	max-width: 35em;
}

.output iframe {
	width: 90vw;
	height: 50vh;
	border: none;
	overflow: scroll;
}

.gloss-output {
	max-width: 40em;
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.25em;
	column-gap: 0.75em;
}

.gloss-toaq {
	font-weight: bold;
}

.error {
	color: #ff0080;
	white-space: pre-wrap;
}

.help {
	position: relative;
	padding: 8px 24px;
	font-size: 13px;
}

@media only screen and (min-width: 800px) {
	.help {
		position: fixed;
		right: 15px;
		top: 0px;
		z-index: 20;
	}
	.help-columns {
		display: flex;
	}
	.help-column > h2:first-child {
		margin-top: 0;
	}
}

.toggles {
	margin-top: 8px;
}

.toggles label {
	display: inline-block;
	margin-top: 4px;
	margin-inline-end: 8px;
}

.parses {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.parses button {
	font-size: 16px;
	cursor: pointer;
	padding: 2px 0;
	width: 3em;
	text-align: center;
	margin: 2px;
}

.parses button.current {
	font-weight: bold;
	text-decoration: underline;
}

.center {
	text-align: center;
}

.linearization {
	display: block;
	align-items: baseline;
}

.linearization dd {
	display: inline-block;
	font-family: monospace;
	font-weight: bold;
	margin: 0;
}

.linearization dt {
	display: inline;
}

.effects-denotation {
	margin-inline-start: 1rem;
	color: var(--color-blue);
}


.moving {
	user-select: none;
} */

math {
	font-family: "Fira Math", "Fira Sans", sans-serif;
}

math .kuna-lexeme {
	font-weight: 900;
}

math .kuna-big-brackets > mo:first-child {
	padding-inline-end: 0.3em;
}

math .kuna-big-brackets > mo:last-child {
	padding-inline-start: 0.3em;
}

math .kuna-do > mtr > mtd {
	text-align: left;
	padding: 0;
	padding-block: 0.15em;
}

math .kuna-do > mtr:last-child > mtd:has(> mrow > .kuna-do) {
	padding-block-end: 0;
}

math .kuna-do.kuna-pure > mtr:first-child > mtd {
	border-block-end: 1px solid;
	padding-block-end: 0.45em;
}

math .kuna-do.kuna-pure > mtr:last-child > mtd {
	padding-block-start: 0.45em;
}

math .kuna-do.kuna-do-quantify > mtr:last-child > mtd {
	padding-inline-start: 1em;
}

math mo.kuna-squiggle {
	color: transparent;
	mask: url("/squiggle.svg") repeat-x;
	width: 100%;
}

math .kuna-cont {
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: 8px 8px 0 0;
	padding-inline: 5px;
	padding-block-start: 2px;
}

.dark-mode math .kuna-constant,
.dark-mode math .kuna-quote {
	color: #ff8888;
}

.dark-mode math .kuna-lexeme {
	color: #99eeff;
}

.type-hover {
	transition: none;
}

.type-hover:hover {
	background-color: var(--color-blue);
	color: white;
	padding: 0 1px;
	margin: 0 -1px;
	position: relative;
}

.dark-mode .type-hover:hover {
	background-color: var(--color-blue-dark);
}

.type-hover:has(.type-hover:hover) {
	background-color: inherit;
	color: inherit;
}

.help th {
	text-align: right;
	padding-right: 12px;
}
.help td {
	padding-right: 12px;
}
