* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	margin: 20px;
	background-color: hsl(200deg, 90%, 95%);
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 0;
}

.settings .buttons {
    margin-top: 8px;
}

.settings button {
	cursor: pointer;
	padding: 4px 12px;
    margin: 2px;
}

.kuna {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	padding: 8px;
	border: 2px solid hsl(200deg, 50%, 80%);
	border-radius: 4px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settings,
.output {
	margin-top: 8px;
}

.settings form {
	min-width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settings textarea {
	font-family: inherit;
	color: #222;
}

.settings form > * + * {
	margin-top: 8px;
}

.settings form label {
	display: flex;
	justify-content: center;
}

.output iframe {
	width: 90vw;
	height: 50vh;
	border: none;
	overflow: scroll;
}

.gloss-output {
	display: flex;
}

.gloss-item {
	padding: 0px 4px;
}

.gloss-toaq {
	font-weight: bold;
}
