.boxes-box {
	display: flex;
	flex-direction: column;
	margin: 2px 2px 0px 2px;
}

.boxes-children {
	flex: 1;
	display: flex;
	flex-direction: row;
	margin: 2px 2px 0px 2px;
}

.boxes-label {
	font-size: 10px;
	margin: 2px 4px;
}

.boxes-text {
	flex: 1;
	display: flex;
	justify-content: end;
	align-items: center;
	margin: 2px 4px 8px 4px;
	display: flex;
	flex-direction: column;
}

.boxes-toaq {
	font-weight: bold;
}

.boxes-english {
	font-size: 12px;
}

.boxes-clause-list {
	margin: 0;
	padding: 0 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	list-style-type: none;
	counter-reset: clauses;
}

.boxes-clause-list + .boxes-clause-list {
	margin-top: 2em;
}

.boxes-clause-list li {
	margin-top: 0.5em;
	display: flex;
}

.boxes-clause-number {
	font-weight: bold;
	margin: 8px;
}
