.tree-stack,
.tree-node,
.tree-node-contents,
.tree-roof {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.tree-node {
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	height: 7em;
}

.tree-children {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
}

.tree-label {
	font-weight: bold;
}

.tree-formula {
	font-size: 7px;
}

.tree-roof {
	cursor: pointer;
	padding: 0.5em;
}
